.wrap{
    padding: 5px;
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: space-evenly;
    align-items: center;
    
}
.login{
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
}
input{
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}
.nav-links
{display: flex;
    color: aliceblue;
    justify-content: end;
    gap: 20px;
    padding:10px;
    background-color: black;
}
a{ font-size:larger;
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.footer{
    background-color: rgb(92, 89, 89);
    width: 100%;
    height:100% ;
}
button{
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}